* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

/** 3 section boxes style **/
section {
    background-color: #E4E0E1; /** 3 section boxes background (gray color)  **/
    margin-bottom: 30px;
    border: 2px solid black;
    padding: 50px 20px 20px 20px;
    position: relative; /** anchor for aboslute (h2) **/
    font-size: 12px;
    width: 100%;
}

/** 3 small boxes on the corner right background **/
h2 {
    padding: 0px 10px 5px 5px;
    margin: 0px;
    position: absolute; /** titles are taken out of their position **/
    right: 0px;
    top: 0px;
    font-size: 15px;
}

/** content in h2 stylying **/
.title {
    width: 200px;
    height: 30px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

#title-1 {
    background-color: #AB886D;
    font-size: 15px;
}

#title-2 {
    background-color: #C5705D;
    font-size: 15px;
      color: white;

}

#title-3 {
    background-color: #DAD3BE;
    font-size: 15px;
}

/********** Large devices only 992px and above ***************/
@media (min-width: 992px) {
    section {
        float: left;
        width: 28%;
        margin-right: 2%;
    }
}

/********** Medium devices only 768px - 991px ***************/
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        width: 48%;
        float: left;
        margin-right: 2%;
    }

    /** The third section takes up the whole row **/
    .section:nth-child(3) {
        width: 100%;
        margin-top: 10px;
    
    }
}

/********** Small devices only < 767px ***************/
@media (max-width: 767px) {
    .section {
        width: 100%;
        float: none;
    }
}
